.btn-primary {
    border: 1px solid transparent !important;
    border-radius: 2px !important;
}

.btn-outline-primary {
    border-radius: 2px !important;
}

.btn-light {
    border-radius: 2px !important;
}

.btn-text-primary {
    font-size: 12px !important;
}

.btn {
    font-size: 12px !important;
}

input {
    font-size: 13px !important;
}

textarea {
    border-radius: 1px !important;
    font-size: 13px !important;
}

select {
    border-radius: 1px !important;
    font-size: 13px !important;
}

.dropdown-item {
    font-size: 12px;
}

.form-container {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 15px rgb(0 0 0 / 5%), 0 1px 6px rgb(0 0 0 / 5%);
}

.my-card {
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 15px rgb(0 0 0 / 5%), 0 1px 6px rgb(0 0 0 / 5%);
}

.card-title {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}



td {
    color: #3a3a3a;
}

th {
    color: #3a3a3a;
}

.divider {
    background-color: #d7d7d7;
    height: 1px;
}

.anti-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

h6 {
    color: #3a3a3a;
}

a {
    text-decoration: none !important;
    background-color: initial;
    cursor: pointer;
}

.table-hover {
    cursor: pointer;
}

/* .table {
    border: 1px solid #dee2e6;
} */
